<div class="span12">
  <h1>Search</h1>
  <div>
    <div class="inputContainer">
      <label for="departure">From</label>
      <input type="departure" class="form-control" id="departure" placeholder="City name or airport code">
    </div>
    <div class="inputContainer" id="arrivalContainer">
      <label for="arrival">To</label>
      <input type="arrival" class="form-control" id="arrival" placeholder="City name or airport code">
    </div>
  </div>
  <div>
    <div class="inputContainer" id="depTimeContainer">
      <label for="depTime">Depart</label>
      <input type="depTime" class="form-control date" id="depTimeInput" placeholder="Date">
    </div>
    <div class="inputContainer" id="arrTimeContainer">
      <label for="arrTime">Return</label>
      <input type="arrTime" class="form-control date" id="arrTimeInput" placeholder="Date">
    </div>
  </div>
  <button class="btn btn-default" id="searchSubmit">Submit</button>

</div>