<div class="span12">
  <h1>Search</h1>

  <!--<div class="btn-group" data-toggle-name="radius_options"-->
       <!--data-toggle="buttons-radio">-->
    <!--<button type="button" value="round-trip" data-toggle="button" class="btn">Round-trip</button>-->
    <!--<button type="button" value="one-way" data-toggle="button"-->
            <!--class="btn">One-way-->
    <!--</button>-->
    <!--<button type="button" value="multi-city" data-toggle="button"-->
            <!--class="btn">Multi-city-->
    <!--</button>-->
  <!--</div>-->
  <!--<input type="hidden" name="radius_options" value="20">-->
  <!--<label>Sort</label>-->

  <!--<div class="btn-group" data-toggle-name="sort_options" data-toggle="buttons-radio">-->
    <!--<button type="button" value="default" data-toggle="button" class="btn active">Default</button>-->
    <!--<button type="button" value="distance" data-toggle="button"-->
            <!--class="btn">Distance-->
    <!--</button>-->
  <!--</div>-->
  <!--<input type="hidden" name="sort_options" value="default">-->
  <!--<br>-->
  <!--<input type="submit" class="btn btn-warning pull-right" value="Search">-->
  
  <div>
    <div class="inputContainer">
      <label for="departure">From</label>
      <input type="departure" class="depArrInput" id="departure" placeholder="City name or airport code">
    </div>
    <div class="inputContainer" id="arrivalContainer">
      <label for="arrival">To</label>
      <input type="arrival" class="depArrInput" id="arrival" placeholder="City name or airport code">
    </div>
  </div>
  <div>
    <div class="inputContainer" id="depTimeContainer">
      <label for="depTime">Depart</label>
      <input type="depTime" class="form-control date" id="depTimeInput" placeholder="Date">
    </div>
    <div class="inputContainer" id="arrTimeContainer">
      <label for="arrTime">Return</label>
      <input type="arrTime" class="form-control date" id="arrTimeInput" placeholder="Date">
    </div>
  </div>
  <button class="btn btn-default" id="searchSubmit">Submit</button>
  <div id="loading"></div>

</div>